<!DOCTYPE PUBLIC "-//W3C//DTD 4.01 Transitional//EN" "http://www.w3.org/TR4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text; charset=UTF-8">
<title>Top Page - myapp</title>
</head>
<body>
{{ message }} welcome to keggscapeweb !!

<hr class="frame0" /> 
 
<a name="global"></a> 
<h4>0. Global Map</h4> 
 
<b>0.1 Metabolism</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/global/01100">Metabolic pathways</a><br /> 
    <a href="/metabolic/global/01110">Biosynthesis of secondary metabolites</a><br /> 
    <a href="/metabolic/global/01120">Microbial metabolism in diverse environments</a> 
  </td></tr> 
</table> 
 
<hr class="frame0" /> 
 
<a name="metabolism"></a> 
<h4>1. Metabolism</h4> 
 
<a name="carbohydrate"></a> 
<b>1.1 Carbohydrate Metabolism</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00010">Glycolysis / Gluconeogenesis</a><br /> 
    <a href="/metabolic/pathway/00020">Citrate cycle (TCA cycle)</a><br /> 
    <a href="/metabolic/pathway/00030">Pentose phosphate pathway</a><br /> 
    <a href="/metabolic/pathway/00040">Pentose and glucuronate interconversions</a><br /> 
    <a href="/metabolic/pathway/00051">Fructose and mannose metabolism</a><br /> 
    <a href="/metabolic/pathway/00052">Galactose metabolism</a><br /> 
    <a href="/metabolic/pathway/00053">Ascorbate and aldarate metabolism</a><br /> 
    <a href="/metabolic/pathway/00500">Starch and sucrose metabolism</a><br /> 
    <a href="/metabolic/pathway/00520">Amino sugar and nucleotide sugar metabolism</a><br /> 
    <a href="/metabolic/pathway/00620">Pyruvate metabolism</a><br /> 
    <a href="/metabolic/pathway/00630">Glyoxylate and dicarboxylate metabolism</a><br /> 
    <a href="/metabolic/pathway/00640">Propanoate metabolism</a><br /> 
    <a href="/metabolic/pathway/00650">Butanoate metabolism</a><br /> 
    <a href="/metabolic/pathway/00660">C5-Branched dibasic acid metabolism</a><br /> 
    <a href="/metabolic/pathway/00562">Inositol phosphate metabolism</a> 
  </td></tr> 
</table> 
 
<a name="energy"></a> 
<b>1.2 Energy Metabolism</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00190">Oxidative phosphorylation</a><br /> 
<!--
    <a href="00193">ATP synthesis</a><br />
--> 
    <a href="/metabolic/pathway/00195">Photosynthesis</a><br /> 
    <a href="/metabolic/pathway/00196">Photosynthesis - antenna proteins</a><br /> 
    <a href="/metabolic/pathway/00710">Carbon fixation in photosynthetic organisms</a><br /> 
    <a href="/metabolic/pathway/00720">Reductive carboxylate cycle in photosynthetic bacteria</a><br /> 
    <a href="/metabolic/pathway/00680">Methane metabolism</a><br /> 
    <a href="/metabolic/pathway/00910">Nitrogen metabolism</a><br /> 
    <a href="/metabolic/pathway/00920">Sulfur metabolism</a> 
  </td></tr> 
</table> 
 
<a name="lipid"></a> 
<b>1.3 Lipid Metabolism</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00061">Fatty acid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00062">Fatty acid elongation in mitochondria</a><br /> 
    <a href="/metabolic/pathway/00071">Fatty acid metabolism</a><br /> 
    <a href="/metabolic/pathway/00072">Synthesis and degradation of ketone bodies</a><br /> 
    <a href="/metabolic/pathway/00100">Steroid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00120">Primary bile acid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00121">Secondary bile acid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00140">Steroid hormone biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00561">Glycerolipid metabolism</a><br /> 
    <a href="/metabolic/pathway/00564">Glycerophospholipid metabolism</a><br /> 
    <a href="/metabolic/pathway/00565">Ether lipid metabolism</a><br /> 
    <a href="/metabolic/pathway/00600">Sphingolipid metabolism</a><br /> 
    <a href="/metabolic/pathway/00590">Arachidonic acid metabolism</a><br /> 
    <a href="/metabolic/pathway/00591">Linoleic acid metabolism</a><br /> 
    <a href="/metabolic/pathway/00592">alpha-Linolenic acid metabolism</a><br /> 
  </td></tr> 
</table> 
 
<a name="nucleotide"></a> 
<b>1.4 Nucleotide Metabolism</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00230">Purine metabolism</a><br /> 
    <a href="/metabolic/pathway/00240">Pyrimidine metabolism</a> 
  </td><td width="240"> 
  </td></tr> 
</table> 
 
<a name="amino"></a> 
<b>1.5 Amino Acid Metabolism</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00250">Alanine, aspartate and glutamate metabolism</a><br /> 
    <a href="/metabolic/pathway/00260">Glycine, serine and threonine metabolism</a><br /> 
    <a href="/metabolic/pathway/00270">Cysteine and methionine metabolism</a><br /> 
    <a href="/metabolic/pathway/00280">Valine, leucine and isoleucine degradation</a><br /> 
    <a href="/metabolic/pathway/00290">Valine, leucine and isoleucine biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00300">Lysine biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00310">Lysine degradation</a><br /> 
    <a href="/metabolic/pathway/00330">Arginine and proline metabolism</a><br /> 
    <a href="/metabolic/pathway/00340">Histidine metabolism</a><br /> 
    <a href="/metabolic/pathway/00350">Tyrosine metabolism</a><br /> 
    <a href="/metabolic/pathway/00360">Phenylalanine metabolism</a><br /> 
    <a href="/metabolic/pathway/00380">Tryptophan metabolism</a><br /> 
    <a href="/metabolic/pathway/00400">Phenylalanine, tyrosine and tryptophan biosynthesis</a> 
  </td><td width="240"> 
  </td></tr> 
</table> 
 
<a name="other"></a> 
<b>1.6 Metabolism of Other Amino Acids</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00410">beta-Alanine metabolism</a><br /> 
    <a href="/metabolic/pathway/00430">Taurine and hypotaurine metabolism</a><br /> 
    <a href="/metabolic/pathway/00440">Phosphonate and phosphinate metabolism</a><br /> 
    <a href="/metabolic/pathway/00450">Selenoamino acid metabolism</a><br /> 
    <a href="/metabolic/pathway/00460">Cyanoamino acid metabolism</a><br /> 
    <a href="/metabolic/pathway/00471">D-Glutamine and D-glutamate metabolism</a><br /> 
    <a href="/metabolic/pathway/00472">D-Arginine and D-ornithine metabolism</a><br /> 
    <a href="/metabolic/pathway/00473">D-Alanine metabolism</a><br /> 
    <a href="/metabolic/pathway/00480">Glutathione metabolism</a> 
  </td><td width="240"> 
  </td></tr> 
</table> 
 
<a name="glycan"></a> 
<b>1.7 Glycan Biosynthesis and Metabolism</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00510">N-Glycan biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00513">Various types of N-glycan biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00512">Mucin type O-Glycan biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00532">Glycosaminoglycan biosynthesis - chondroitin sulfate</a><br /> 
    <a href="/metabolic/pathway/00534">Glycosaminoglycan biosynthesis - heparan sulfate</a><br /> 
    <a href="/metabolic/pathway/00533">Glycosaminoglycan biosynthesis - keratan sulfate</a><br /> 
    <a href="/metabolic/pathway/00531">Glycosaminoglycan degradation</a><br /> 
    <a href="/metabolic/pathway/00563">Glycosylphosphatidylinositol(GPI)-anchor biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00601">Glycosphingolipid biosynthesis - lacto and neolacto series</a><br /> 
    <a href="/metabolic/pathway/00603">Glycosphingolipid biosynthesis - globo series</a><br /> 
    <a href="/metabolic/pathway/00604">Glycosphingolipid biosynthesis - ganglio series</a><br /> 
    <a href="/metabolic/pathway/00540">Lipopolysaccharide biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00550">Peptidoglycan biosynthesis</a><br /> 
  </td></tr> 
</table> 
 
<a name="cofactor"></a> 
<b>1.8 Metabolism of Cofactors and Vitamins</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00730">Thiamine metabolism</a><br /> 
    <a href="/metabolic/pathway/00740">Riboflavin metabolism</a><br /> 
    <a href="/metabolic/pathway/00750">Vitamin B6 metabolism</a><br /> 
    <a href="/metabolic/pathway/00760">Nicotinate and nicotinamide metabolism</a><br /> 
    <a href="/metabolic/pathway/00770">Pantothenate and CoA biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00780">Biotin metabolism</a><br /> 
    <a href="/metabolic/pathway/00785">Lipoic acid metabolism</a><br /> 
    <a href="/metabolic/pathway/00790">Folate biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00670">One carbon pool by folate</a><br /> 
    <a href="/metabolic/pathway/00830">Retinol metabolism</a><br /> 
    <a href="/metabolic/pathway/00860">Porphyrin and chlorophyll metabolism</a><br /> 
    <a href="/metabolic/pathway/00130">Ubiquinone and other terpenoid-quinone biosynthesis</a> 
  </td><td width="240"> 
  </td></tr> 
</table> 
 
<a name="pk"></a> 
<b>1.9 Metabolism of Terpenoids and Polyketides</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00900">Terpenoid backbone biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00902">Monoterpenoid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00909">Sesquiterpenoid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00904">Diterpenoid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00906">Carotenoid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00905">Brassinosteroid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00981">Insect hormone biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00908">Zeatin biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00903">Limonene and pinene degradation</a><br /> 
    <a href="/metabolic/pathway/00281">Geraniol degradation</a><br /> 
    <a href="/metabolic/pathway/01052">Type I polyketide structures</a><br /> 
    <a href="/metabolic/pathway/00522">Biosynthesis of 12-, 14- and 16-membered macrolides</a><br /> 
    <a href="/metabolic/pathway/01051">Biosynthesis of ansamycins</a><br /> 
    <a href="/metabolic/pathway/01056">Biosynthesis of type II polyketide backbone</a><br /> 
    <a href="/metabolic/pathway/01057">Biosynthesis of type II polyketide products</a><br /> 
    <a href="/metabolic/pathway/00253">Tetracycline biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00523">Polyketide sugar unit biosynthesis</a><br /> 
    <a href="/metabolic/pathway/01054">Nonribosomal peptide structures</a><br /> 
    <a href="/metabolic/pathway/01053">Biosynthesis of siderophore group nonribosomal peptides</a><br /> 
    <a href="/01055">Biosynthesis of vancomycin group antibiotics</a> 
  </td><td width="240"> 
  </td></tr> 
</table> 
 
<a name="secondary"></a> 
<b>1.10 Biosynthesis of Other Secondary Metabolites</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td width="400"> 
    <a href="/metabolic/pathway/00940">Phenylpropanoid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00945">Stilbenoid, diarylheptanoid and gingerol biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00941">Flavonoid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00944">Flavone and flavonol biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00942">Anthocyanin biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00943">Isoflavonoid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00901">Indole alkaloid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00950">Isoquinoline alkaloid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00960">Tropane, piperidine and pyridine alkaloid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/01058">Acridone alkaloid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00232">Caffeine metabolism</a><br /> 
    <a href="/metabolic/pathway/00965">Betalain biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00966">Glucosinolate biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00402">Benzoxazinoid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00311">Penicillin and cephalosporin biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00312">beta-Lactam resistance</a><br /> 
    <a href="/metabolic/pathway/00521">Streptomycin biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00524">Butirosin and neomycin biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00331">Clavulanic acid biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00231">Puromycin biosynthesis</a><br /> 
    <a href="/metabolic/pathway/00401">Novobiocin biosynthesis</a> 
  </td></tr> 
</table> 
 
<a name="xenobiotics"></a> 
<b>1.11 Xenobiotics Biodegradation and Metabolism</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td> 
    <a href="/metabolic/pathway/00362">Benzoate degradation</a><br /> 
    <a href="/metabolic/pathway/00627">Aminobenzoate degradation</a><br /> 
    <a href="/metabolic/pathway/00364">Fluorobenzoate degradation</a><br /> 
    <a href="/metabolic/pathway/00625">Chloroalkane and chloroalkene degradation</a><br /> 
    <a href="/metabolic/pathway/00361">Chlorocyclohexane and chlorobenzene degradation</a><br /> 
    <a href="/metabolic/pathway/00623">Toluene degradation</a><br /> 
    <a href="/metabolic/pathway/00622">Xylene degradation</a><br /> 
    <a href="/metabolic/pathway/00633">Nitrotoluene degradation</a><br /> 
    <a href="/metabolic/pathway/00642">Ethylbenzene degradation</a><br /> 
    <a href="/metabolic/pathway/00643">Styrene degradation</a><br /> 
    <a href="/metabolic/pathway/00791">Atrazine degradation</a><br /> 
    <a href="/metabolic/pathway/00930">Caprolactam degradation</a><br /> 
    <a href="/metabolic/pathway/00351">DDT degradation</a><br /> 
    <a href="/metabolic/pathway/00363">Bisphenol degradation</a><br /> 
    <a href="/metabolic/pathway/00621">Dioxin degradation</a><br /> 
    <a href="/metabolic/pathway/00626">Naphthalene degradation</a><br /> 
    <a href="/metabolic/pathway/00624">Polycyclic aromatic hydrocarbon degradation</a><br /> 
    <a href="/metabolic/pathway/00980">Metabolism of xenobiotics by cytochrome P450</a><br /> 
    <a href="/metabolic/pathway/00982">Drug metabolism - cytochrome P450</a><br /> 
    <a href="/metabolic/pathway/00983">Drug metabolism - other enzymes</a> 
  </td></tr> 
</table> 
 
<a name="overview"></a> 
<b>1.12 Overview</b> 
<table width="658"> 
  <tr valign="top"><td width="10"></td><td> 
    <a href="/metabolic/pathway/01010">Overview of biosynthetic pathways</a><br /> 
    <a href="/metabolic/pathway/01060">Biosynthesis of plant secondary metabolites</a><br /> 
    <a href="/metabolic/pathway/01061">Biosynthesis of phenylpropanoids</a><br /> 
    <a href="/metabolic/pathway/01062">Biosynthesis of terpenoids and steroids</a><br /> 
    <a href="/metabolic/pathway/01063">Biosynthesis of alkaloids derived from shikimate pathway</a><br /> 
    <a href="/metabolic/pathway/01064">Biosynthesis of alkaloids derived from ornithine, lysine and nicotinic acid</a><br /> 
    <a href="/metabolic/pathway/01065">Biosynthesis of alkaloids derived from histidine and purine</a><br /> 
    <a href="/metabolic/pathway/01066">Biosynthesis of alkaloids derived from terpenoid and polyketide</a><br /> 
    <a href="/metabolic/pathway/01070">Biosynthesis of plant hormones</a> 
  </td></tr> 
</table> 
 
</body>
</html>
